Repository paroki/pkrbt, pull requests merged in 2024-10, with the labels that each got.

#26 feat(openapi): added search parameters :sparkles:
  apps/api/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/api/src/extensions/documentation/public/index.html
  packages/openapi/src/core/rest.ts
  packages/openapi/src/types/types.ts
  packages/openapi/tests/plugins/blog.spec.ts
Labels: feature

#27 strapi contents
  .github/workflows/ci.yml
  apps/api/data/data.json
  apps/api/data/ref.json
  apps/api/package.json
  apps/api/scripts/seed-dev.js
  apps/api/src/api/an-marriage/content-types/an-marriage/schema.json
  apps/api/src/api/an-marriage/controllers/an-marriage.ts
  apps/api/src/api/an-marriage/routes/an-marriage.ts
  apps/api/src/api/an-marriage/services/an-marriage.ts
  apps/api/src/extensions/documentation/.gitignore
  apps/api/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/api/src/extensions/documentation/public/index.html
  apps/api/src/extensions/users-permissions/content-types/user/schema.json
  apps/api/types/generated/contentTypes.d.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: feature

#28 fix(web): use news data from strapi
  apps/web/src/app/berita/[id]/page.tsx
  apps/web/src/app/berita/[slug]/page.tsx
  apps/web/src/app/berita/client-news/news-list.tsx
  apps/web/src/app/berita/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/assets/noimg.jpg
  apps/web/src/components/main-news.tsx
Labels: feature

#29 feat(api): added organization content :sparkles:
  apps/api/src/api/org-member/content-types/org-member/schema.json
  apps/api/src/api/org-member/controllers/org-member.ts
  apps/api/src/api/org-member/routes/org-member.ts
  apps/api/src/api/org-member/services/org-member.ts
  apps/api/src/api/org-position/content-types/org-position/schema.json
  apps/api/src/api/org-position/controllers/org-position.ts
  apps/api/src/api/org-position/routes/org-position.ts
  apps/api/src/api/org-position/services/org-position.ts
  apps/api/src/api/org-structure/content-types/org-structure/schema.json
  apps/api/src/api/org-structure/controllers/org-structure.ts
  apps/api/src/api/org-structure/routes/org-structure.ts
  apps/api/src/api/org-structure/services/org-structure.ts
  apps/api/src/api/organization/content-types/organization/schema.json
  apps/api/src/api/organization/controllers/organization.ts
  apps/api/src/api/organization/routes/organization.ts
  apps/api/src/api/organization/services/organization.ts
  apps/api/src/extensions/users-permissions/content-types/user/schema.json
  apps/api/types/generated/contentTypes.d.ts
Labels: feature

#39 added more test data
  README.md
  apps/api/.private/seed-dev.js
  apps/api/package.json
  apps/api/scripts/fixtures/data.json
  apps/api/scripts/fixtures/img/coffee-art.jpg
  apps/api/scripts/fixtures/img/coffee-beans.jpg
  apps/api/scripts/fixtures/img/obviously-confusing.png
  apps/api/scripts/fixtures/img/obviously-failed.png
  apps/api/scripts/fixtures/img/obviously-good.png
  apps/api/scripts/fixtures/img/obviously-peaceful.png
  apps/api/scripts/fixtures/img/obviously-randomly.png
  apps/api/scripts/fixtures/markdown/typography.md
  apps/api/scripts/seed-dev.js
  apps/api/scripts/token.js
  apps/api/src/api/an-marriage/content-types/an-marriage/schema.json
  apps/api/src/api/org-member/content-types/org-member/schema.json
  apps/api/src/api/org-position/content-types/org-position/schema.json
  apps/api/src/api/org-structure/content-types/org-structure/schema.json
  apps/api/types/generated/contentTypes.d.ts
  packages/openapi/src/types/openapi.ts
  pnpm-lock.yaml
Labels: enhancement, api

#40 integrate remark
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/blocks/markdown.tsx
  pnpm-lock.yaml
Labels: web

#41 broken image deployment fix
  apps/web/public/static/noimg.jpg
  apps/web/src/app/[slug]/page.tsx
  apps/web/src/components/article/list.tsx
  apps/web/src/components/blocks/blocks.tsx
  apps/web/src/components/blocks/image.tsx
  apps/web/src/components/main-news.tsx
  apps/web/src/components/ui/image.tsx
  apps/web/src/utils/blocks.ts
  packages/openapi/src/types/types.ts
Labels: bug, web

#44 auto generate article metadata
  .github/workflows/testing.yml
  apps/api/config/env/.gitkeep
  apps/api/config/env/test/database.ts
  apps/api/package.json
  apps/api/src/api/article/content-types/article/schema.json
  apps/api/src/api/article/controllers/article.ts
  apps/api/src/index.ts
  apps/api/src/utils/blocks.ts
  apps/api/tests/helper/bootstrap.js
  apps/api/tests/helper/setup.ts
  apps/api/tests/helper/tools.ts
  apps/api/tests/utils/blocks.spec.ts
  apps/api/types/generated/contentTypes.d.ts
  apps/api/vitest.config.ts
  pnpm-lock.yaml
Labels: feature, api

#46 authjs integration
  apps/api/config/server.ts
  apps/api/package.json
  apps/pwa/.env.default
  apps/pwa/package.json
  apps/pwa/src/app/(blog)/articles/page.tsx
  apps/pwa/src/app/api/auth/[...nextauth]/route.ts
  apps/pwa/src/app/auth/login/page.tsx
  apps/pwa/src/app/layout.tsx
  apps/pwa/src/app/middleware.ts
  apps/pwa/src/components/article/form.tsx
  apps/pwa/src/components/article/view.tsx
  apps/pwa/src/components/layouts/sidebar.tsx
  apps/pwa/src/config/common.ts
  apps/pwa/src/hooks/use-user.ts
  apps/pwa/src/services/article.ts
  apps/pwa/src/types.d.ts
  apps/pwa/src/types.ts
  apps/pwa/src/utils/api.ts
  apps/pwa/src/utils/auth.ts
  apps/pwa/src/utils/singleton.ts
  packages/openapi/src/core/strapi.ts
  packages/openapi/src/core/types.ts
  packages/openapi/src/strapi.ts
  pnpm-lock.yaml
Labels: feature, pwa

#57 fixing cms deployment
  .github/workflows/ci.yml
  .github/workflows/gitlab.yml
  .github/workflows/sync-cms.yml
  apps/api/Dockerfile
Labels: bug, enhancement, cms

#61 feat(web): add errror view
  apps/web/src/app/error.tsx
Labels: enhancement

#88 cms improvements
  apps/cms/.env.default
  apps/cms/config/plugins.ts
  apps/cms/package.json
  apps/cms/src/api/an-marriage/content-types/an-marriage/schema.json
  apps/cms/src/api/announcement/content-types/announcement/schema.json
  apps/cms/src/api/announcement/routes/announcement.ts
  apps/cms/src/index.ts
  apps/cms/src/middlewares/find-by-slug.ts
  apps/cms/src/utils/marriage.ts
  apps/cms/types/generated/contentTypes.d.ts
  packages/openapi/src/types/openapi.ts
  pkrbt.code-workspace
  pnpm-lock.yaml
Labels: cms

#90 chore(ci): fixed cms coverage issues
  apps/cms/tests/helper/setup.ts
  apps/cms/tests/utils/blocks.spec.ts
  apps/cms/tests/utils/marriage.spec.ts
Labels: cms, test

#94 wip
  .github/workflows/e2e.yml
  apps/cms/config/plugins.ts
  apps/web/.gitignore
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/api/sentry-example-api/route.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/components/sacraments.tsx
  apps/web/src/instrumentation.ts
  pnpm-lock.yaml
Labels: cms, web, ci

#95 articles improvements
  .github/workflows/ci.yml
  apps/cms/scripts/seed-dev.js
  apps/cms/src/api/article/content-types/article/schema.json
  apps/cms/src/api/article/routes/article.ts
  apps/cms/src/api/static/routes/static.ts
  apps/cms/src/index.ts
  apps/cms/src/middlewares/article-list.ts
  apps/cms/src/middlewares/article-read.ts
  apps/cms/src/utils/blocks.ts
  apps/cms/tests/utils/blocks.spec.ts
  apps/cms/types/generated/contentTypes.d.ts
  apps/web/src/app/[slug]/page.tsx
  apps/web/src/app/api/sentry-example-api/route.ts
  apps/web/src/assets/globals.css
  apps/web/src/components/article-item.tsx
  apps/web/src/components/article/list.tsx
  apps/web/src/components/blocks/blocks.tsx
  apps/web/src/components/blocks/slider.tsx
  apps/web/src/utils/blocks.ts
  apps/web/src/utils/meta.ts
  apps/web/src/utils/prefix/index.ts
  packages/openapi/src/types/openapi.ts
Labels: cms, web, ci, test

#98 beta release preparation
  apps/cms/config/plugins.ts
  apps/cms/package.json
  apps/web/src/app/dpp/page.tsx
  pnpm-lock.yaml
Labels: cms, web

#101 feat(web): separate marriages announcement
  apps/web/src/components/sacraments.tsx
  apps/web/src/utils/api.ts
  apps/web/src/utils/group-marriages.ts
Labels: web

#112 beta 3 preparation
  apps/web/src/app/homepage/jumbotron.tsx
  apps/web/src/app/homepage/utils.ts
  apps/web/src/app/page.tsx
  apps/web/src/assets/logo.png
  apps/web/src/components/article-item.tsx
  apps/web/src/components/article/list.tsx
  apps/web/src/components/layouts/footer.tsx
  apps/web/src/components/layouts/header.tsx
  apps/web/src/components/main-news.tsx
  apps/web/src/components/navigation.tsx
  apps/web/src/components/ui/container.tsx
Labels: web

#116 refactoring
  apps/cms/types/generated/contentTypes.d.ts
  apps/web/package.json
  apps/web/src/app/[slug]/README.md
  apps/web/src/app/[slug]/components/blocks.tsx
  apps/web/src/app/[slug]/components/image.tsx
  apps/web/src/app/[slug]/components/latest-news.tsx
  apps/web/src/app/[slug]/components/markdown.tsx
  apps/web/src/app/[slug]/components/share-article.tsx
  apps/web/src/app/[slug]/components/slider.tsx
  apps/web/src/app/[slug]/page.tsx
  apps/web/src/app/berita/components/list.tsx
  apps/web/src/app/berita/page.tsx
  apps/web/src/app/dewan-pastoral-paroki/page.tsx
  apps/web/src/app/homepage/components/jumbotron.tsx
  apps/web/src/app/homepage/components/main-news.tsx
  apps/web/src/app/homepage/components/marriages.tsx
  apps/web/src/app/homepage/components/schedule.tsx
  apps/web/src/app/homepage/utils.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/sitemap.ts
  apps/web/src/assets/fonts/GeistMonoVF.woff
  apps/web/src/assets/fonts/GeistVF.woff
  apps/web/src/assets/img/jumboimg.jpg
  apps/web/src/assets/img/logo.png
  apps/web/src/assets/img/noimg.jpg
  apps/web/src/assets/img/rings-g.svg
  apps/web/src/assets/img/rings.svg
  apps/web/src/components/announcement.tsx
  apps/web/src/components/article/list.tsx
  apps/web/src/components/articles/article-item.tsx
  apps/web/src/components/coming-soon.tsx
  apps/web/src/components/common/date.tsx
  apps/web/src/components/common/link.tsx
  apps/web/src/components/common/pagination.tsx
  apps/web/src/components/icons/rings.tsx
  apps/web/src/components/info.tsx
  apps/web/src/components/layouts/address.tsx
  apps/web/src/components/layouts/container-header.tsx
  apps/web/src/components/layouts/footer.tsx
  apps/web/src/components/layouts/info.tsx
  apps/web/src/components/layouts/loading.tsx
  apps/web/src/components/layouts/nav-server.tsx
  apps/web/src/components/layouts/navigation.tsx
  apps/web/src/components/layouts/service-time.tsx
  apps/web/src/components/layouts/social-media.tsx
  apps/web/test/handlers.ts
  apps/web/test/server.ts
  apps/web/test/setup.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
Labels: cms, web

#137 Beta 5 : Add post author and gallery viewer
  apps/web/src/app/[slug]/page.tsx
  apps/web/src/app/dewan-pastoral-paroki/page.tsx
  apps/web/src/components/icons/pen.tsx
  apps/web/src/components/icons/user.tsx
  apps/web/src/components/layouts/masonry/grid-el.tsx
  apps/web/src/components/layouts/masonry/index.tsx
  apps/web/src/components/posts/post-item.tsx
Labels: web
